<div class="card preview">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/battlestarlaser.jpg" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">Battlestar Laser</h3>
        <a class="example-link" href="http://www.battlestar.com" target="_blank">
            www.battlestar.com
        </a>
        <p>
            One of the Acredula Group&rsquo;s businesses, specifically laser quest games in Mansfield. I developed their online booking system, which takes payments from customers and allows staff to manage their bookings.
        </p>
        <hr class="half">
        <p>
            Completed: October 2016<br>
            Work Project<br>
            Employer: Acredula Group Ltd
        </p>
    </div>
    <div class="card-footer tech-icons">
        <i class="devicon-codeigniter-plain" data-toggle="tooltip" title="Codeigniter 2"></i>
        <i class="devicon-jquery-plain" data-toggle="tooltip" title="jQuery"></i>
    </div>
</div>
