<div class="row no-margin card-grid">
    <div class="col-sm-6 col-md-4">
        {% include 'portfolio/index/cards/dig.twig' %}
    </div>
    <div class="col-sm-6 col-md-4">
        {% include 'portfolio/index/cards/ps2alerts.twig' %}
    </div>
    <div class="col-sm-6 col-md-4">
        {% include 'portfolio/index/cards/idaq.twig' %}
    </div>
    <div class="col-sm-6 col-md-4">
        {% include 'portfolio/index/cards/barnsleyhypno.twig' %}
    </div>
    <div class="col-sm-6 col-md-4">
        {% include 'portfolio/index/cards/timefortea.twig' %}
    </div>
    <div class="col-sm-6 col-md-4">
        {% include 'portfolio/index/cards/psb.twig' %}
    </div>
</div>
