{% extends 'index.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<section id="landing">
    <div id="landing-mugshot" class="row content">
        <div class="col-xs-12 col-sm-4 col-sm-offset-4">
            <img src="{{ base_url }}/assets/img/mugshot.jpg" class="img-circle img-responsive">
        </div>
        <div class="col-xs-12">
            <h1>Matt Cavanagh</h1>
            <h3>Welcome to my corner of the web!</h3>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-sm-4">
            <div class="card text-center">
                <a href="{{ base_url }}/portfolio">
                    <div class="card-image">
                        <img src="https://placehold.it/500/500" class="img-responsive">
                    </div>
                    <div class="card-content">
                        <h1>Portfolio</h1>
                        <p>
                            See what I've been working on!
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <a href="{{ base_url }}/cv">
                    <div class="card-image">
                        <img src="https://placehold.it/500/500" class="img-responsive">
                    </div>
                    <div class="card-content">
                        <h1>Online CV</h1>
                        <p>
                            Check me out!
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <a href="{{ base_url }}/contact">
                    <div class="card-image">
                        <img src="https://placehold.it/500/500" class="img-responsive">
                    </div>
                    <div class="card-content">
                        <h1>Contact</h1>
                        <p>
                            Say hello!
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
