{% extends 'template.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<section id="landing">
    <div class="jumbotron text-center">
        <h1>I make websites sing.</h1>
        <p>Matt Cavanagh - Full stack web developer</p>
        <p>
            <a class="btn btn-primary btn-lg" href="{{ base_url }}/portfolio" role="button">Check out my Portfolio!</a>
        </p>
        <div class="social-links">
            <a href="https://www.twitter.com/Maelstromeous" target="_blank" alt="My twitter" >
                <i class="fa fa-twitter fa-3x" data-toggle="tooltip" title="Tweet me!" data-position="bottom"></i>
            </a>
            <a href="https://github.com/Maelstromeous" target="_blank" alt="View my code on GitHub!">
                <i class="fa fa-github fa-3x" data-toggle="tooltip" title="Check out my code on GitHub!" data-position="bottom"></i>
            </a>
            <a href="mailto:&#109;&#097;&#101;&#108;&#115;&#116;&#114;&#111;&#109;&#101;&#050;&#054;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" target="_blank" alt="Shoot me an email!">
                <i class="fa fa-envelope fa-3x" data-toggle="tooltip" title="Shoot me an email!" data-position="bottom"></i>
            </a>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="col-sm-4">
            <div class="card text-center">
                <a href="{{ base_url }}/portfolio">
                    <div class="card-image">
                        <img src="https://placehold.it/500/500" class="img-responsive">
                    </div>
                    <div class="card-content">
                        <h1>Portfolio</h1>
                        <p>
                            See what I've been working on!
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <a href="{{ base_url }}/cv">
                    <div class="card-image">
                        <img src="https://placehold.it/500/500" class="img-responsive">
                    </div>
                    <div class="card-content">
                        <h1>Online CV</h1>
                        <p>
                            Check me out!
                        </p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-center">
                <a href="{{ base_url }}/contact">
                    <div class="card-image">
                        <img src="https://placehold.it/500/500" class="img-responsive">
                    </div>
                    <div class="card-content">
                        <h1>Contact</h1>
                        <p>
                            Say hello!
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
