#portfolio-index {
    #technologies {
        i {
            font-size: round(@v-base * 1.9);
            margin: 0 3px;
        }

        img {
            width: round(@v-base * 1.9);
            height: round(@v-base * 1.9);
        }
    }

    .card {
        cursor: pointer;
        padding-bottom: (@v-base * 0.5);

        h3 {
            margin-bottom: 0;
        }

        .project-link {
            display: block;
            text-align: center;
            font-size: 1.3em;
            color: #337ab7;
            word-break: break-all;
            margin-bottom: @v-base * 0.5;

            &:hover {
                color: darken(#337ab7, 20%);
                text-decoration: underline;
            }
        }

        .card-image {
            height: 20vw;
            min-height: @v-base * 4;
            position: relative;
            overflow: hidden;
            margin-bottom: @v-base * 0.5;
            border-bottom: 1px solid #eaeaea;

            img {
                position: absolute;
                top: 0;
            }

            @media @xs {
                height: 30vh;
            }
        }

        .card-footer {
            padding-top: @v-base * 0.5 - 2px; // Fix for weird devicons spacing
            margin-top: @v-base * 0.5;
            overflow: hidden;

            img, i {
                float: left;
                margin-right: 5px;
            }

            @mod: 1.50;

            img {
                width: @v-base * @mod;
                height: @v-base * @mod;
            }

            i {
                line-height: @v-base * @mod;
                font-size: @v-base * @mod;
            }

            @media @xs {
                text-align: center;
            }
        }
    }
}
