<div class="container-fluid">
    <header id="header">
        <nav class="navbar navbar-default navbar-fixed-top">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                <i class="fas fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ base_url }}">Matt Cavanagh</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav">
            <ul class="nav navbar-nav">
                <li {% if current_path == '/portfolio' %}class="active"{% endif %}>
                    <a href="{{ base_url }}/portfolio">Portfolio</a>
                </li>
                <li>
                    <a href="https://docs.google.com/document/d/1LA0YePMLR8M7KVZt8fdU-JcdUlKw4VLFomQvjuAi6q8" target="_blank" class="cv">Curriculum Vitae</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://www.twitter.com/Maelstromeous" target="_blank" alt="My twitter" class="twitter" data-location="header">
                        <i class="fab fa-twitter fa-2x" data-toggle="tooltip" title="Tweet me!" data-placement="bottom"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/Maelstromeous" target="_blank" alt="Check out my code on GitHub!" class="github" data-location="header">
                        <i class="fab fa-github fa-2x" data-toggle="tooltip" title="Check out my code on GitHub!" data-placement="bottom"></i>
                    </a>
                </li>
                <li>
                    <a href="{{ email|raw }}" class="email" data-location="header">
                        <i class="fas fa-2x fa-envelope" data-toggle="tooltip" title="Shoot me an email!" data-placement="bottom"></i>
                    </a>
                </li>
            </ul>
        </div>
        </nav>
    </header>
    <div id="employment" class="not-available">
        Currently not available for employment
    </div>
</div>
