{% extends 'template.twig' %}

{% block title %}Welcome!{% endblock %}

{% block body %}
<section id="landing">
    <div class="jumbotron text-center">
        <h1>I make websites sing.</h1>
        <p>Matt Cavanagh - Full stack web developer</p>
        <div class="half-row">
            <a class="btn btn-primary btn-lg" href="{{ base_url }}/portfolio" role="button">Check out my Portfolio!</a>
        </div>
        <div class="half-row">
            <a class="btn btn-default" href="{{ base_url }}/cv" role="button">Curriculum Vitae</a>
            <a class="btn btn-default" href="{{ base_url }}/contact" role="button">Say hello!</a>
        </div>
        <div class="social-links">
            <a href="https://www.twitter.com/Maelstromeous" target="_blank" alt="My twitter" >
                <i class="fa fa-twitter fa-3x" data-toggle="tooltip" title="Tweet me!"></i>
            </a>
            <a href="https://github.com/Maelstromeous" target="_blank" alt="View my code on GitHub!">
                <i class="fa fa-github fa-3x" data-toggle="tooltip" title="Check out my code on GitHub!"></i>
            </a>
            <a href="mailto:&#109;&#097;&#101;&#108;&#115;&#116;&#114;&#111;&#109;&#101;&#050;&#054;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;" target="_blank" alt="Shoot me an email!">
                <i class="fa fa-envelope fa-3x" data-toggle="tooltip" title="Shoot me an email!"></i>
            </a>
        </div>
    </div>
</section>
{% endblock %}
