#header {
    margin-bottom: @v-base;
    height: @v-base * 2;

    // Bootstrap overrides
    a,
    .navbar,
    .navbar-brand,
    .navbar-header {
        height: @v-base * 2;
        min-height: @v-base * 2;
        line-height: @v-base;
    }

    .navbar-brand {
        padding: (@v-base * 0.5) @spacing;
    }

    .navbar-default {
        background-color: #fff;
        box-shadow: 0 0 10px #dadada;

        .navbar-nav li {
            transition: background-color 0.25s;
            &:hover {
                background-color: #f3f3f3;
            }

            a {
                padding: (@v-base * 0.5) @spacing;
            }
        }

        .navbar-right {
            margin-right: 0;

            a {
                padding: (@v-base * 0.5) (@v-base * 0.25);

                i {
                    line-height: @v-base;
                }
            }

            @media @xs {
                text-align: center;

                li {
                    display: inline-block;
                }
            }
        }

        .navbar-toggle {
            margin-top: 4px;
            height: 38px;
            line-height: 18px;
            width: 38px;
        }
    }

    .navbar-collapse {
        @media @xs {
            background-color: #fff;
            width: 100vw;
            border-bottom: 1px solid #ccc;
            position: absolute;
            top: 47px;
        }
    }
}
