#header {
    height: @header-height;

    .navbar-default {
        background-color: #fff;
        box-shadow: 0 0 10px #dadada;

        .navbar-right {
            margin-right: 0;
            a {
                padding: 10px;
                padding-top: 11px;
            }
        }
    }
}
