body {
    background-color: @bg-color;
    color: @color;
    margin-bottom: @spacing;

    #main {
        .container {
            padding: @spacing;
        }
    }
}

a {
    color: @color;
    transition: color 0.25s;
    &:hover {
        text-decoration: none;
        color: #000;
    }
}

hr {
    margin: (@spacing * 2) 0;
}

hr.half {
    margin: @spacing 0;
}

.content {
    background-color: #fff;
    padding: @spacing;
    box-shadow: 0 0 10px #e8e8e8;
    border-radius: 3px;
    border: 1px solid @border-color;
}

.no-padding {
    padding: 0;
}

.card {
    .content; // #MixinsAreAwesome
    padding: 0;
    padding-bottom: @spacing;
    transition: all 0.2s ease-in;
    font-size: 0.9em;

    .card-content {
        padding: 0 (@spacing);
        p {
            margin: 0;
        }
    }

    &:hover {
        box-shadow: 0 0 10px #b5b5b5;
        border: 1px solid @border-color;
    }

    .card-footer {
        border-top: 1px solid @border-color;
        padding: @spacing;
        padding-bottom: 0;
        margin-top: @spacing;
    }

    @media screen {
        @media @xs {
            margin-bottom: @spacing;
        }
    }
}

.card-grid {
    .col-sm-6:last-child {
        .card {
            margin-bottom: 0;
        }
    }
    .card {
        margin-bottom: @spacing * 2;
    }
}

.tech-icons {
    i {
        font-size: 2.5em;
        margin: 2px;
    }

    img {
        vertical-align: top;
        width: 33px;
        height: 33px;
    }
}

.no-margin {
    margin: 0;
}

.no-side-margin {
    margin-left: 0;
    margin-right: 0;
}

.social-links {
    a {
        margin: 0 @spacing / 3;
        text-decoration: none;
    }
}

.row-splitter {
    overflow: hidden;
    display: block;
    width: 100%;
}
