<header id="header">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="{{ base_url }}">Matt Cavanagh</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="nav">
                <ul class="nav navbar-nav">
                    <li {% if current_path == '/portfolio' %}class="active"{% endif %}>
                        <a href="{{ base_url }}/portfolio">Portfolio</a>
                    </li>
                    <li {% if current_path == '/contact' %}class="active"{% endif %}>
                        <a href="{{ base_url }}/contact">Contact me!</a>
                    </li>
                    <li {% if current_path == '/cv' %}class="active"{% endif %}>
                        <a href="{{ base_url }}/cv">CV</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="https://www.twitter.com/Maelstromeous" target="_blank" alt="My twitter" >
                            <i class="fa fa-twitter fa-2x" data-toggle="tooltip" title="Tweet me!" data-placement="bottom"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/Maelstromeous" target="_blank">
                            <i class="fa fa-2x fa-github" data-toggle="tooltip" title="Check out my code on GitHub!" data-placement="bottom"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
