<div class="card preview">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/acredula.jpg" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">Acredula Group</h3>
        <a class="example-link" href="http://www.acredula.co.uk" target="_blank">
            www.acredula.co.uk
        </a>
        <p>
            My employer&rsquo;s main website, showing information about the business itself and it&rsquo;s subsidaries.
        </p>
        <hr class="half">
        <p>
            Completed: January 2016<br>
            Work Project<br>
            Employer: Acredula Group Ltd
        </p>
    </div>
    <div class="card-footer tech-icons">
        <i class="devicon-bootstrap-plain" data-toggle="tooltip" title="Bootstrap 3"></i>
        <i class="devicon-bower-plain" data-toggle="tooltip" title="Bower"></i>
        <i class="devicon-grunt-plain" data-toggle="tooltip" title="Grunt"></i>
        <i class="devicon-less-plain-wordmark" data-toggle="tooltip" title="LESS"></i>
        <i class="devicon-photoshop-plain" data-toggle="tooltip" title="Photoshop CS2+"></i>
    </div>
</div>
