<div class="card preview">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/barnsleyhypno.jpg" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">Barnsley Hypnosis &amp; Counselling</h3>
        <a class="example-link" href="http://www.barnsleyhypnosiscounselling.com" target="_blank">
            www.barnsleyhypnosiscounselling.com
        </a>
        <p>
            Hypnosis and Counselling business located in Barnsley. Utilises a custom coded CMS system. Was also what I would regard as my first major project.
            </p>
        <hr class="half">
        <p>
            Completed: July 2016<br>
            Work Project<br>
            Employer: Acredula Group Ltd
        </p>
    </div>
    <div class="card-footer tech-icons">
        <i class="devicon-bootstrap-plain" data-toggle="tooltip" title="Bootstrap 3"></i>
        <i class="devicon-bower-plain" data-toggle="tooltip" title="Bower"></i>
        <i class="devicon-grunt-plain" data-toggle="tooltip" title="Grunt"></i>
        <i class="devicon-less-plain-wordmark" data-toggle="tooltip" title="LESS"></i>
        <i class="devicon-photoshop-plain" data-toggle="tooltip" title="Photoshop CS2+"></i>
    </div>
</div>
