<div class="card">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/dig-preview.jpg" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">Dignity of War</h3>
        <a class="example-link" href="http://new.dignityofwar.com" target="_blank">
            Dignity of War website revamp (WIP)
        </a>
        <p>
            My gaming community's website, which is being built from the ground up to serve the community and it's members.
        </p>
        <hr class="half">
        <p>
            Started: September 2016 (Ongoing)
        </p>
        <p>
            Personal Project
        </p>
    </div>
    <div class="card-footer tech-icons">
        <i class="devicon-bootstrap-plain" data-toggle="tooltip" title="Bootstrap 3"></i>
        <i class="devicon-nodejs-plain" data-toggle="tooltip" title="NodeJS"></i>
        <i class="devicon-mysql-plain-wordmark" data-toggle="tooltip" title="Mysql MariaDB"></i>
        <i class="devicon-bower-plain" data-toggle="tooltip" title="Bower"></i>
        <i class="devicon-grunt-plain" data-toggle="tooltip" title="Grunt"></i>
        <i class="devicon-less-plain-wordmark" data-toggle="tooltip" title="LESS"></i>
    </div>
</div>
