<div class="card preview">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/idaq.jpg" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">Idaq Networks</h3>
        <a class="example-link" href="http://www.idaqnetworks.com" target="_blank">
            www.idaqnetworks.com
        </a>
        <p>
            Idaq Networks are a wireless network company who provides Internet services for local businesses. This project was my first foray into using the Bolt CMS system.
        </p>
        <hr class="half">
        <p>
            Completed: September 2016<br>
            Work Project<br>
            Employer: Acredula Group Ltd
        </p>
    </div>
    <div class="card-footer tech-icons">
        <img src="{{ base_url }}/assets/img/bolt-grey.png" data-toggle="tooltip" title="Bolt CMS">
        <i class="devicon-bootstrap-plain" data-toggle="tooltip" title="Bootstrap 3"></i>
        <i class="devicon-jquery-plain" data-toggle="tooltip" title="jQuery"></i>
        <i class="devicon-bower-plain" data-toggle="tooltip" title="Bower"></i>
        <i class="devicon-grunt-plain" data-toggle="tooltip" title="Grunt"></i>
        <i class="devicon-less-plain-wordmark" data-toggle="tooltip" title="LESS"></i>
    </div>
</div>
