<div class="card">
    <div class="card-image preview">
        <img src="{{ asset_url }}/img/portfolio/kittyandco-preview.jpg" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">Kitty &amp; Co</h3>
        <a class="example-link" href="http://www.kittyandco.me" target="_blank">
            www.kittyandco.me
        </a>
        <p>
            Pet sitting service located in Henley-on-Thames, providing information about their services and contact information.
        </p>
        <hr class="half">
        <p>
            Completed: April 2014
        </p>
        <p>
            Professional Project
        </p>
    </div>
    <div class="card-footer tech-icons">
        <i class="devicon-codeigniter-plain" data-toggle="tooltip" title="Codeigniter 2"></i>
        <i class="devicon-jquery-plain" data-toggle="tooltip" title="jQuery"></i>
        <i class="devicon-photoshop-plain" data-toggle="tooltip" title="Photoshop CS4"></i>
    </div>
</div>
