<div class="card preview">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/makinsonmotors.jpg" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">Makinson Motors</h3>
        <a class="project-link" href="http://www.makinsonsmotors.net" target="_blank" data-location="project-card">
            www.makinsonsmotors.net
        </a>
        <p>
            A Barnsley based used car dealership. Client wanted a website to demonstrate his stock to customers and allow easy access to contact him. I utilized Bolt in this project for it's ease of use with creating new / editing records and thumbnail generation.
        </p>
        <hr class="half">
        <p>
            Completed: January 2017<br>
            Work Project<br>
            Employer: Acredula Group Ltd
        </p>
    </div>
    <div class="card-footer tech-icons">
        <img src="{{ base_url }}/assets/img/bolt-grey.png" data-toggle="tooltip" title="Bolt CMS">
        <i class="devicon-bootstrap-plain" data-toggle="tooltip" title="Bootstrap 4 Alpha 5"></i>
        <i class="devicon-less-plain-wordmark" data-toggle="tooltip" title="LESS"></i>
    </div>
</div>
