<div class="card preview">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/mariokart.jpg" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">Mariokart Race Tracker</h3>
        <a class="project-link" href="https://www.mariokart.fun" target="_blank" data-location="project-card">
            www.mariokart.fun
        </a>
        <p>
            A fun project that I created for tracking the office Mariokart Wii competitions while I was working at Digital Velocity. It was good practice of Bootstrap 4 (Alpha v5) and responsive design practice. The website also provided a standing table which allowed us to keep track on how well we were doing.
        </p>
        <hr class="half">
        <p>
            Completed: May 2017<br>
            Personal Project
        </p>
    </div>
    <div class="card-footer tech-icons">
        <i class="devicon-bootstrap-plain" data-toggle="tooltip" title="Bootstrap 4 Alpha v5"></i>
        <i class="devicon-less-plain-wordmark" data-toggle="tooltip" title="LESS"></i>
        <i class="devicon-photoshop-plain" data-toggle="tooltip" title="Photoshop CS6"></i>
    </div>
</div>
