<div class="card preview">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/nfc.jpg" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">National Fitness Conference</h3>
        <a class="project-link" href="http://www.nationalfitnessconference.co.uk" target="_blank" data-location="project-card">
            www.nationalfitnessconference.co.uk
        </a>
        <p>
            National Fitness Conference is a yearly conference held by Script Media Events (a subsidary of Acredula Group Ltd). I made the entire website from scratch using a provided design, and actively maintain it for new events.
        </p>
        <hr class="half">
        <p>
            Completed: ???<br>
            Work Project<br>
            Employer: Acredula Group Ltd
        </p>
    </div>
    <div class="card-footer tech-icons">
        <i class="devicon-bootstrap-plain" data-toggle="tooltip" title="Bootstrap 3"></i>
    </div>
</div>
