<div class="card preview">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/nsc.jpg" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">Nanite Systems Comics</h3>
        <a class="project-link" href="http://www.nanitesystemscomic.com" target="_blank" data-location="project-card">
            www.nanitesystemscomic.com
        </a>
        <p>
            Nanite Systems Comics is a fan site publicising a fan based comic of the video game Planetside 2<sup>&reg;</sup>. This project was my first "proper" website which used a database and a custom image uploading / cropping system, within the Laravel framework.
        </p>
        <hr class="half">
        <p>
            Completed: November 2014
        </p>
        <p>
            Professional Project
        </p>
    </div>
    <div class="card-footer tech-icons">
        <i class="devicon-laravel-plain" data-toggle="tooltip" title="Laravel"></i>
        <i class="devicon-bootstrap-plain" data-toggle="tooltip" title="Bootstrap 3"></i>
        <i class="devicon-photoshop-plain" data-toggle="tooltip" title="Photoshop CS5+"></i>
    </div>
</div>
