<div class="card preview">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/scriptmedia.jpg" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">Script Media</h3>
        <a class="project-link" href="http://www.scriptmedia.co.uk" target="_blank" data-location="project-card">
            www.scriptmedia.co.uk
        </a>
        <p>
            Script Media, a design and branding company based in Barnsley, desired a new website showcasing their vast project portfolio and staff descriptions. Using Bolt, this was made simple for the staff to be able to keep the website up to date and fill it with new content.
        </p>
        <hr class="half">
        <p>
            Completed: November 2016<br>
            Professional Project<br>
        </p>
    </div>
    <div class="card-footer tech-icons">
        <img src="{{ base_url }}/assets/img/bolt-grey.png" data-toggle="tooltip" title="Bolt CMS">
        <i class="devicon-bootstrap-plain" data-toggle="tooltip" title="Bootstrap 4 Alpha 5"></i>
        <i class="devicon-less-plain-wordmark" data-toggle="tooltip" title="LESS"></i>
    </div>
</div>
