<div class="card preview">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/timefortea.jpg" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">Time for Tea Vintage <i class="fa fa-star" data-toggle="tooltip" title="This project is a demonstration of my latest design skills and mobile responsiveness techniques."></i></h3>
        <a class="example-link" href="https://www.timeforteavintage.co.uk" target="_blank">
            www.timeforteavintage.co.uk
        </a>
        <p>
            Time for Tea is my sister&rsquo;s business, who sells and hires out vintage crockery. This project puts into practice the responsive design and CSS skills I've learnt to so far. My sister has receieved great feedback about the site, in particular to it's eye-catching design.
        </p>
        <hr class="half">
        <p>
            Completed: April 2016
        </p>
        <p>
            Personal / Professional Project
        </p>
    </div>
    <div class="card-footer tech-icons">
        <i class="devicon-bootstrap-plain" data-toggle="tooltip" title="Bootstrap 3"></i>
        <i class="devicon-bower-plain" data-toggle="tooltip" title="Bower"></i>
        <i class="devicon-grunt-plain" data-toggle="tooltip" title="Grunt"></i>
        <i class="devicon-less-plain-wordmark" data-toggle="tooltip" title="LESS"></i>
        <i class="devicon-photoshop-plain" data-toggle="tooltip" title="Photoshop CS5+"></i>
    </div>
</div>
