<div class="card preview">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/battlestarlaser.jpg{{ version }}" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">Battlestar Laser</h3>
        <a class="project-link" href="http://www.battlestarlaser.com" target="_blank" data-location="project-card">
            www.battlestarlaser.com
        </a>
        <p>
            Battlestar Lazer is a Lazer Quest business in Mansfield. I developed their online booking system, which takes payments from customers and allows staff to manage their bookings.
        </p>
        <hr class="half">
        <p>
            Completed: October 2016<br>
            Professional Project
        </p>
    </div>
    <div class="card-footer tech-icons">
        <i class="devicon-codeigniter-plain" data-toggle="tooltip" title="Codeigniter 2"></i>
    </div>
</div>
