<div class="card preview">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/portfolio.jpg{{ version }}" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">My Portfolio</i></h3>
        <p>
            The site you&rsquo;re viewing. I decided it was time that I collated all the work I&rsquo;ve done so far into a single place, allowing people to browse my work, a bit about myself, and how to contact me.
        </p>
        <hr class="half">
        <p>
            Completed: January 2017<br>
            Personal Project
        </p>
    </div>
    <div class="card-footer tech-icons">
        <i class="devicon-bootstrap-plain" data-toggle="tooltip" title="Bootstrap 3"></i>
        <i class="devicon-less-plain-wordmark" data-toggle="tooltip" title="LESS"></i>
        <i class="devicon-docker-plain" data-toggle="tooltip" title="Docker"></i>
    </div>
</div>
