<div class="card preview featured">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/ps2alerts.jpg{{ version }}" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">
            PS2Alerts
            <i class="fas fa-star" data-toggle="tooltip" title="This project is a great demonstration of my current knowledge in a variety of areas, particularly JavaScript."></i>
            <a href="https://github.com/Maelstromeous/PS2Alerts" target="_blank" data-toggle="tooltip" title="View the source code for this project on GitHub." data-location="project-card"><i class="fab fa-github"></i></a>
        </h3>
        <a class="project-link" href="https://www.ps2alerts.com" target="_blank">
            www.ps2alerts.com
        </a>
        <p>
            A fan website which tracks a metagame known as &ldquo;Alerts&rdquo; in the MMOFPS game Planetside 2<sup>&reg;</sup>. This project is the most technical out of what I've done so far, using a multitude of technologies such as NodeJS, Redis and Websockets (including real-time components), as well as a custom PHP API <i class="fa fa-info-circle" data-toggle="tooltip" title="The repo for the API is private for security reasons, feel free to ask me for access."></i>.
        </p>
        <hr class="half">
        <p>
            Started: October 2014 (Ongoing) <i class="fa fa-info-circle" data-toggle="tooltip" title="This project is continuously interated upon as the game changes. When I have free time, I continue to add more features to the project."></i><br>
            Personal Project
        </p>
    </div>
    <div class="card-footer tech-icons">
        <i class="devicon-angularjs-plain" data-toggle="tooltip" title="AngularJS"></i>
        <i class="devicon-nodejs-plain" data-toggle="tooltip" title="NodeJS"></i>
        <img src="{{ asset_url }}/img/websockets-grey.png" width="35" data-toggle="tooltip" title="Websockets">
        <i class="devicon-redis-plain" data-toggle="tooltip" title="Redis"></i>
        <img src="{{ asset_url }}/img/materalizecss-grey.png" width="35" data-toggle="tooltip" title="Materalize CSS">
        <i class="devicon-less-plain-wordmark" data-toggle="tooltip" title="LESS"></i>
        <i class="devicon-bower-plain" data-toggle="tooltip" title="Bower"></i>
        <i class="devicon-grunt-plain" data-toggle="tooltip" title="Grunt"></i>
    </div>
</div>
