<div class="row no-side-margin card-grid">
    <div class="col-sm-6">
        {% include 'portfolio/index/cards/ps2alerts.twig' %}
    </div>
    <div class="col-sm-6">
        {% include 'portfolio/index/cards/timefortea.twig' %}
    </div>
    <div class="hidden-xs row-splitter"></div>
    <div class="col-sm-6 col-sm-offset-3">
        {% include 'portfolio/index/cards/psb.twig' %}
    </div>
</div>
