<div class="row no-side-margin">
    <div class="col-sm-4">
        {% include 'portfolio/index/cards/dig.twig' %}
    </div>
    <div class="col-sm-4">
        {% include 'portfolio/index/cards/ps2alerts.twig' %}
    </div>
    <div class="col-sm-4">
        {% include 'portfolio/index/cards/tft.twig' %}
    </div>
</div>
<div class="row no-margin">
    <div class="col-sm-4">
        {% include 'portfolio/index/cards/nsc.twig' %}
    </div>
    <div class="col-sm-4">
        {% include 'portfolio/index/cards/psb.twig' %}
    </div>
    <div class="col-sm-4">
        {% include 'portfolio/index/cards/kittyandco.twig' %}
    </div>
</div>
