<li role="presentation" class="active">
    <a href="#all" aria-controls="all" role="tab" data-toggle="tab">All Projects</a>
</li>
<li role="presentation">
    <a href="#featured" aria-controls="featured" role="tab" data-toggle="tab">Featured Projects <i class="fa fa-star" data-toggle="tooltip" title="Projects I consider to be my best work."></i></a>
</li>
<li role="presentation">
    <a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal Projects</a>
</li>
<li role="presentation">
    <a href="#work" aria-controls="work" role="tab" data-toggle="tab">Work Projects</a>
</li>
