<div class="row no-side-margin card-grid">
    <div class="col-sm-6">
        {% include 'portfolio/index/cards/idaq.twig' %}
    </div>
    <div class="col-sm-6">
        {% include 'portfolio/index/cards/barnsleyhypno.twig' %}
    </div>
    <div class="hidden-sm row-splitter"></div>
    <div class="col-sm-6 col-sm-offset-3">
        {% include 'portfolio/index/cards/acredula.twig' %}
    </div>
</div>
