<div class="row no-side-margin">
    <div class="col-sm-4">
        {% include 'portfolio/index/cards/idaq.twig' %}
    </div>
    <div class="col-sm-4">
        {% include 'portfolio/index/cards/barnsleyhypno.twig' %}
    </div>
    <div class="col-sm-4">
        {% include 'portfolio/index/cards/acredula.twig' %}
    </div>
</div>
