{% extends 'template.twig' %}

{% block title %}Portfolio - PS2Alerts{% endblock %}

{% block body %}
<section id="portfolio-ps2alerts">
    <div class="col-xs-12 text-center">
        <img src="{{ assets_url }}/img/portfolio/ps2alerts.jpg" />
        <h1>PS2Alerts</h1>
        <h2>Planetside 2<sup>&reg;</sup> Alert Tracker &amp; Statistics</h2>
    </div>
</section>
{% endblock %}
