<div class="card preview">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/dig.jpg{{ version }}" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">Dignity of War <i class="fa fa-certificate" data-toggle="tooltip" title="This project is brand new and under development. Please don't judge me too harshly!"></i></h3>
        <a class="project-link" href="http://www.dignityofwar.com" target="_blank" data-location="project-card">
            www.dignityofwar.com
        </a>
        <p>
            My gaming community's website, which is being built from the ground up to serve the community and it's members. We use a Discord bot (written in NodeJS) which also integrates with the site directly. My first collaborative project.
        </p>
        <hr class="half">
        <p>
            Completed: December 2016 <i class="fa fa-info-circle" data-toggle="tooltip" title="This project is brand new and is ongoing. Further details will be available as they come. Ask me personally if you wish to find out more."></i><br>
            Personal / Community Project
        </p>
    </div>
    <div class="card-footer tech-icons">
        <i class="devicon-bootstrap-plain" data-toggle="tooltip" title="Bootstrap 4 Alpha v5"></i>
        <img src="{{ base_url }}/assets/img/bolt-grey.png" data-toggle="tooltip" title="Bolt CMS">
        <i class="devicon-docker-plain" data-toggle="tooltip" title="Docker"></i>
        <i class="devicon-nodejs-plain" data-toggle="tooltip" title="NodeJS"></i>
        <i class="devicon-less-plain-wordmark" data-toggle="tooltip" title="LESS"></i>
        <i class="devicon-mysql-plain-wordmark" data-toggle="tooltip" title="Mysql MariaDB"></i>
    </div>
</div>
