<div class="card preview">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/kittyandco.jpg{{ version }}" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">Kitty &amp; Co</h3>
        <a class="project-link" href="https://www.kittyandco.me" target="_blank" data-location="project-card">
            www.kittyandco.me
        </a>
        <p>
            Pet sitting service located in Henley-on-Thames, providing information about their services and contact information. This project was the first "customer focused" website I developed. Recently aquired by my sister, I developed the site to help her find customers.
        </p>
        <hr class="half">
        <p>
            Completed: April 2014<br>
            Professional / Personal Project
        </p>
    </div>
    <div class="card-footer tech-icons">
        <i class="devicon-codeigniter-plain" data-toggle="tooltip" title="Codeigniter 2"></i>
        <i class="devicon-photoshop-plain" data-toggle="tooltip" title="Photoshop CS4"></i>
    </div>
</div>
