<div class="card preview">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/maynellsfencing.jpg{{ version }}" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">Meynells Fencing</h3>
        <a class="project-link" href="http://www.meynellsfencing.co.uk" target="_blank" data-location="project-card">
            www.meynellsfencing.co.uk
        </a>
        <p>
            Meynells fencing is a business based in Barnsley. They wanted a simple, attractive looking website which states their current prices.
        </p>
        <hr class="half">
        <p>
            Completed: April 2016<br>
            Professional Project
        </p>
    </div>
    <div class="card-footer tech-icons">
        <i class="devicon-bootstrap-plain" data-toggle="tooltip" title="Bootstrap 3"></i>
    </div>
</div>
