<div class="card preview">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/psb.jpg{{ version }}" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">Planetside Battles
            <i class="fa fa-star" data-toggle="tooltip" title="This project was one of the largest I have ever undertaken, and the most technologically complex."></i>
            <i class="fa fa-trophy" data-toggle="tooltip" title="This website contributed to winning a Guinness Book of World Records for &ldquo;Most Players Online in a single FPS battle&rdquo;."></i></h3>
        <a class="project-link" href="https://psb.mattcavanagh.me" target="_blank" data-location="project-card">
            PSB Archive
        </a>
        <p>
            Planetside Battles is a run player organisation of the MMOFPS Planetside 2<sup>&reg;</sup> who organises player vs player events. This project was my first technically challenging site, which used a databases, Redis, a NodeJS websocket collection script using a websocket based API, and real time commuication to browser clients. I also developed a Twich stream overlay which presented various statistics during the matches' casting.
        </p>
        <hr class="half">
        <p>
            Completed: January 2015 (inactive) <i class="fa fa-info-circle" data-toggle="tooltip" title="I left the PSB team in January 2015 due to time constraint purposes. The site listed is for archive purposes."></i><br>
            Community Project
        </p>
        <hr class="half">
        <a href="http://www.guinnessworldrecords.com/news/2015/1/planetside-2-gamers-aiming-for-fps-battle-world-record-this-weekend-370414" target="_blank">
            <i class="fa fa-trophy"></i> Guinness World Record
        </a>
    </div>
    <div class="card-footer tech-icons">
        <i class="devicon-symfony-plain" data-toggle="tooltip" title="Symfony 2.6"></i>
        <i class="devicon-bootstrap-plain" data-toggle="tooltip" title="Bootstrap 3"></i>
        <i class="devicon-nodejs-plain" data-toggle="tooltip" title="NodeJS"></i>
        <img src="{{ asset_url }}/img/websockets-grey.png" width="35" data-toggle="tooltip" title="Websockets">
        <i class="devicon-redis-plain" data-toggle="tooltip" title="Redis"></i>
        <i class="devicon-photoshop-plain" data-toggle="tooltip" title="Photoshop CS5+"></i>
    </div>
</div>
