<div class="card preview featured">
    <div class="card-image">
        <img src="{{ asset_url }}/img/portfolio/previews/timeforteav2.jpg{{ version }}" class="img-responsive">
    </div>
    <div class="card-content">
        <h3 class="text-center">Time for Tea Vintage
            <i class="fa fa-star" data-toggle="tooltip" title="This project is a demonstration of my latest design skills and mobile responsiveness techniques."></i>
            <i class="fas fa-flag" data-toggle="tooltip" title="I consider this my flagship website."></i>
        </h3>
        <a class="project-link" href="https://www.timeforteavintage.co.uk" target="_blank" data-location="project-card">
            www.timeforteavintage.co.uk
        </a>
        <p>
            Time for Tea is my sister&rsquo;s business, who sells and hires out vintage crockery. This project puts into practice the responsive design and CSS skills I've learnt to so far and it's my first ever HTTPS &amp; HTTP2 fully compliant website. It has recently been overhauled and redesigned from the ground up to enhance the user experience based on their feedback - including providing a back office system (Bolt CMS) enabling Time for Tea to update various parts of the site on their own.
        </p>
        <hr class="half">
        <p>
            Completed: April 2016<br>
            Overhauled: January 2020<br>
            Personal / Professional Project
        </p>
    </div>
    <div class="card-footer tech-icons">
        <img src="{{ base_url }}/assets/img/bolt-grey.png" data-toggle="tooltip" title="Bolt CMS">
        <i class="devicon-bootstrap-plain" data-toggle="tooltip" title="Bootstrap 3"></i>
        <i class="devicon-docker-plain" data-toggle="tooltip" title="Docker"></i>
        <i class="devicon-grunt-plain" data-toggle="tooltip" title="Grunt"></i>
        <i class="devicon-less-plain-wordmark" data-toggle="tooltip" title="LESS"></i>
        <i class="devicon-photoshop-plain" data-toggle="tooltip" title="Photoshop CS5+"></i>
        <i class="fas fa-dharmachakra" data-toggle="tooltip" title="Kubernetes"></i>
        <i class="devicon-php-plain" data-toggle="tooltip" title="PHP 5.5+ / 7"></i>
    </div>
</div>
